* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

.view1 {
  max-width: 1600px;
}

.view2 {
  max-width: 1600px;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: center;
  overflow: hidden;
  background-color: #212121;
}
main header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  background-color: #252525;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  padding: 1rem;
}
main header nav {
  width: 100%;
  display: flex;
  max-width: 1600px;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
main header nav .logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 0.9rem;
  color: #e5e5e5;
  text-transform: uppercase;
}
main header nav .logo i {
  font-size: 1.5rem;
  background: linear-gradient(green, blue);
  border-radius: 50%;
  opacity: 0.8;
}
main header nav .logo span {
  color: #ff5303;
}
main header nav .menu {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}
main header nav .menu i {
  font-size: 1.5rem;
  font-weight: 900;
  opacity: 0.8;
}
main header nav .menu button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.4rem 1rem;
  border-radius: 1rem;
  font-weight: 700;
  border: 0.1rem solid white;
  outline: none;
  background: transparent;
  color: white;
}
main header nav .desktop-view {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  display: none;
}
main header nav .desktop-view .link {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}
main header nav .desktop-view .link a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  opacity: 0.8;
  font-weight: 400;
}
main header nav .desktop-view .login {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}
main header nav .desktop-view .login span {
  font-size: 1.3rem;
  opacity: 0.8;
}
main header nav .desktop-view .login i {
  font-size: 1.4rem;
  font-weight: 900;
  opacity: 0.8;
}
main header nav .desktop-view .login button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.4rem 1rem;
  border-radius: 1rem;
  font-weight: 700;
  border: 0.1rem solid white;
  outline: none;
  background: transparent;
  color: white;
  opacity: 0.8;
}
main .view1 {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-image: url(https://i.pinimg.com/736x/97/fc/d6/97fcd6322b4968c0ee250503909a1cbe.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 4rem;
}
main .view1 .top {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  grid-area: top;
  justify-content: space-evenly;
  color: white;
  opacity: 0.8;
}
main .view1 .top .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main .view1 .top .text h2 {
  font-size: 2.3rem;
  font-weight: 800;
  line-height: 1;
}
main .view1 .top .text p {
  font-size: 1rem;
  font-weight: 500;
}
main .view1 .top button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.8rem 2rem;
  border-radius: 0.4rem;
  outline: none;
  border: none;
  background-color: #ff5303;
  color: white;
  opacity: 0.9;
}
main .view1 .bottom {
  width: 100%;
  grid-area: bottom;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-gap: 1rem;
  grid-template-areas: "big-div small-div1" "big-div small-div2";
}
main .view1 .bottom .big-div {
  width: 100%;
  grid-area: big-div;
  background-color: #222;
  box-shadow: 0rem 0rem 0.2rem white;
  border-radius: 1rem;
}
main .view1 .bottom .big-div video {
  width: 100%;
  border-radius: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
main .view1 .bottom .small-div1 {
  width: 100%;
  box-shadow: 0rem 0rem 0.2rem white;
  grid-area: small-div1;
  border-radius: 0.8rem;
}
main .view1 .bottom .small-div1 video {
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
  -o-object-fit: cover;
     object-fit: cover;
}
main .view1 .bottom .small-div2 {
  grid-area: small-div2;
  width: 100%;
  border-radius: 0.8rem;
  box-shadow: 0rem 0rem 0.2rem white;
}
main .view1 .bottom .small-div2 video {
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
  -o-object-fit: cover;
     object-fit: cover;
}
main .view2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
  background-image: url(https://i.pinimg.com/736x/43/9e/07/439e0745fd00e29a1f6a4d10b41d425e.jpg);
  padding: 1rem;
  color: white;
}
main .view2 .top {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
main .view2 .top h2 {
  font-size: 2.2rem;
  font-weight: 900;
  opacity: 0.8;
}
main .view2 .top #Popular {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.4rem 1.4rem;
  font-size: 1.5rem;
  font-weight: 500;
  background: transparent;
  color: white;
  border: 0.01rem solid white;
  opacity: 0.8;
  border-radius: 0.5rem;
}
main .view2 .top .link {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  display: none;
}
main .view2 .top .link p {
  color: white;
  font-weight: 700;
  opacity: 0.8;
}
main .view2 .top .link a {
  text-decoration: none;
  color: white;
  opacity: 0.8;
  padding: 0.6rem 1rem;
}
main .view2 .top .link #More {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.4rem 1rem;
  text-align: center;
  background: transparent;
  color: white;
  outline: none;
  opacity: 0.8;
  border-radius: 0.2rem;
}
main .view2 .top .link button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.4rem 0.8rem;
  background: transparent;
  color: white;
  outline: none;
  border: 0.1rem solid white;
  opacity: 0.8;
  border-radius: 0.2rem;
}
main .view2 .bottom {
  width: 100%;
  display: flex;
  gap: 2rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
main .view2 .bottom::-webkit-scrollbar {
  display: none;
}
main .view2 .bottom .card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  flex-shrink: 0;
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
}
main .view2 .bottom .card img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 1rem;
  box-shadow: 0rem 0rem 1rem black;
}
main .view2 .bottom .card h2 {
  font-size: 2.3rem;
  opacity: 0.8;
  font-weight: 600;
}
main .view2 .bottom .card h4 {
  font-size: 1.4rem;
  font-weight: 600;
  opacity: 0.8;
}

@media (min-width: 900px) {
  main header nav .menu {
    display: none;
  }
  main header nav .desktop-view {
    display: contents;
  }
  main .view1 {
    flex-direction: row;
    padding: 2rem;
  }
  main .view1 .top,
  main .view1 .bottom {
    width: 50%;
  }
  main .view1 .top {
    justify-content: space-between;
  }
  main .view1 .top .text {
    gap: 2rem;
    justify-content: space-between;
  }
  main .view1 .top .text h2 {
    font-size: 3.3rem;
    line-height: 1.2;
  }
  main .view1 .top .text p {
    font-weight: 300;
    line-height: 1.4;
  }
  main .view1 .top button {
    margin-bottom: 2rem;
  }
  main .view2 {
    padding: 2rem;
    gap: 3rem;
  }
  main .view2 .top #Popular {
    display: none;
  }
  main .view2 .top .link {
    display: flex;
    flex-direction: row;
  }
  main .view2 .bottom {
    width: 100%;
  }
  main .view2 .bottom .card {
    width: 33%;
  }
}/*# sourceMappingURL=style.css.map */